/* Fundo da aplicação */
body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #050816;

    font-family: "Courier New", monospace;

    color: #00eaff;
}


/* Área do relógio */
.relogio-container {
    padding: 50px 70px;

    background: #080d24;

    border: 2px solid #00eaff;
    border-radius: 15px;

    box-shadow:
        0 0 10px #00eaff,
        0 0 30px rgba(0, 234, 255, 0.5),
        inset 0 0 20px rgba(0, 234, 255, 0.1);

    text-align: center;
}


/* Título */
.relogio-titulo {
    margin-bottom: 25px;

    font-size: 20px;
    letter-spacing: 5px;

    color: #a855f7;

    text-shadow:
        0 0 5px #a855f7,
        0 0 15px #a855f7;
}


/* Hora */
.relogio-hora {
    margin: 0;

    font-size: 70px;
    letter-spacing: 8px;

    color: #00eaff;

    text-shadow:
        0 0 5px #00eaff,
        0 0 15px #00eaff,
        0 0 30px #00eaff;
}


/* Pequena animação de brilho */
@keyframes brilho {
    0% {
        opacity: 0.85;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.85;
    }
}

.relogio-hora {
    animation: brilho 2s infinite;
}


/* Responsividade */
@media (max-width: 600px) {

    .relogio-container {
        padding: 35px 25px;
    }

    .relogio-hora {
        font-size: 45px;
        letter-spacing: 4px;
    }

    .relogio-titulo {
        font-size: 15px;
    }
}